<!DOCTYPE html>

<html>
<head>
    <title>Manager's Page</title>
    <meta name="viewport" content="width-device-width, inital-scale = 1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="style.css">
    <scripts src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></scripts>
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ01yAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
        <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome/min.css">
    <script>
        $(document).ready(function(){
            $("#submitButton".click(function(event){
                event.preventDefault();


                const butt = event.target.id;
                const newName = $("<li></li>").text('${butt}')
                console.log("Variable butt: ", butt)
                const newItem = $("#menuItem: selected").val()
                const itemName = $("#itemName").val()
                const price = $("#price").val()
                const descript = $("#description").val()
                console.log("newItem:", newItem)
                console.log("itemName:", itemName)


                if(newItem == "Appetizer"){
                    $("#apps").append("<li>"+itemName+" $"+price+"</li>");
                    $("#apps").append("<li>"+descript+"</li>"+"<br>");
                }
                if(newItem == "Entree"){
                    $("#entrees").append("<li>"+itemName+" $"+price+"</li>");
                    $("#entrees").append("<li>"+descript+"</li>"+"<br>");
                }
                if(newItem == "Sides"){
                    $("#sides").append("<li>"+itemName+" $"+price+"</li>");
                    $("#sides").append("<li>"+descript+"</li>"+"<br>");
                }
                if(newItem == "Dessert"){
                    $("#desserts").append("<li>"+itemName+" $"+price+"</li>");
                    $("#desserts").append("<li>"+descript+"</li>"+"<br>");
                }
                if(newItem == "Drinks"){
                    $("#drinks").append("<li>"+itemName+" $"+price+"</li>");
                    $("#drinks").append("<li>"+descript+"</li>"+"<br>");
                }
                

                $("#menuForm")[0].reset();

            }));

        });
    </script>


    
</head>
    <body>
    
     <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div> 

    <h1> Brick City Burger House</h1>
    <form>
        <div id="newMenuItem">
            <label for="menuItem">Menu Item: </label>
            <select name="menuItem" id="menuItem">
                <option value="Appetizer">Appetizer</option>
                <option value="Entree">Entree</option>
                <option value="Sides">Sides</option>
                <option value="Dessert">Dessert</option>
                <option value="Drinks">Drinks</option>
            </select>
            <br><br>
            <label for item="itemName">Dish Name:</label>
            <input type="text" id="itemName" name="itemName" required>
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required>
                <br><br>
            <label for="discription">Description: </label>
            <textarea id="description" name="description" rows="4" cols="50" required></textarea>
                <br><br>

            <button id="sumbitButton">Add to Menu</button>
            <br><br><br>

        </div>
        </form>
            <div>
                <h2>Below is the current menu :)</h2>
                <br>
            </div>
            
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>Apps</h3>
                    <ul id="apps"></ul>
                 </div>
            <div class="col-sm">
                    <h3>Entrees</h3>
                    <ul id="entress"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h3>Sides</h3>
                    <ul id="sides"></ul>
                </div>
                <div class="col-sm">
                    <h3>Desserts</h3>
                    <ul id="desserts"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h3>Drinks</h3>
                    <ul id="drinks"></ul>
                </div>
            </div>
        </div>
    
    
    </form>
    
</body>
</html>